@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);
/* header */
@import url(./blocks/Header/Header.css);
@import url(./blocks/title/title.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/discord-icon/discord-icon.css);
@import url(./blocks/twitter-icon/twitter-icon.css);
@import url(./blocks/socials/socials.css);
@import url(./blocks/header-column/header-column.css);
@import url(./blocks/desc/desc.css);

@import url(./blocks/minted-row/minted-row.css);
@import url(./blocks/minted/minted.css);
@import url(./blocks/check-listings/check-listings.css);

@import url(./blocks/Article/Article.css);
@import url(./blocks/paragraph/paragraph.css);

@import url(./blocks/Confirmation/Confirmation.css);
@import url(./blocks/Panel/Panel.css);
@import url(./blocks/panel-row/panel-row.css);
@import url(./blocks/panel-row_center/panel-row_center.css);
@import url(./blocks/view-punks/view-punks.css);
@import url(./blocks/btn/btn.css);
@import url(./blocks/btn-1/btn-1.css);
@import url(./blocks/btn/_selected/btn_selected.css);
@import url(./blocks/btn-2/btn-2.css);
@import url(./blocks/btn-3/btn-3.css);
@import url(./blocks/finder/finder.css);
@import url(./blocks/finder/_hide/finder_hide.css);
@import url(./blocks/go/go.css);
@import url(./blocks/input-find/input-find.css);
@import url(./blocks/showsIDs/showsIDs.css);
@import url(./blocks/info-image/info-image.css);

/* Cards */
@import url(./blocks/Cards/Cards.css);
@import url(./blocks/_clean/Cards_clean.css);
@import url(./blocks/Cards-wrapper/Cards-wrapper.css);
@import url(./blocks/card/card.css);
@import url(./blocks/load-cards/load-cards.css);

/* FoundCard */
@import url(./blocks/found-card.css);
@import url(./blocks/found-card/__button/found-card__button.css);

/* Card */
@import url(./blocks/card-wrapper/card-wrapper.css);
@import url(./blocks/block/block.css);
@import url(./blocks/layer-1/layer-1.css);
@import url(./blocks/layer-1/_showed/layer-1_showed.css);
@import url(./blocks/layer-2/layer-2.css);
@import url(./blocks/layer-2/_showed/layer-2_showed.css);
@import url(./blocks/layer-3/layer-3.css);
@import url(./blocks/layer-3/_showed/layer-3_showed.css);

/* InfoPopup */
@import url(./blocks/InfoPopup/InfoPopup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container-info/popup__container-info.css);
@import url(./blocks/popup/__number/popup__number.css);
@import url(./blocks/popup/__row/popup__row.css);
@import url(./blocks/popup/__buttons/popup__buttons.css);
@import url(./blocks/popup/__buttons/_report/popup__buttons_report.css);
@import url(./blocks/popup/__buttons/_close/popup__buttons_close.css);

@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__text-info/popup__text-info.css);
@import url(./blocks/popup/__text-info/_minted/popup__text-info_minted.css);
@import url(./blocks/popup/__text-info/_value/popup__text-info_value.css);
@import url(./blocks/popup/__text-info/_missed/popup__text-info_missed.css);
@import url(./blocks/popup/__text-info/_end/popup__text-info_end.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__figure/_circle/popup__figure_circle.css);
@import url(./blocks/popup/__figure/_circle/_first/popup__figure_circle_first.css);
@import url(./blocks/popup/__figure/_vertical-line/popup__figure_vertical-line.css);

.block_2 {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.image-open {
  margin: 50px auto;
  background-color: black;
}
